.input {
  width: 279px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #d0cece;
  margin: 20px 1px;
  padding-left: 1px;
  padding-bottom: 5px;
  outline: none;

  &::placeholder {
    font-family: StratosSkyeng, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.05px;
    color: #d0cece;
  }
}
