.enrolling {
  width: 100%;
  height: 100%;

  padding-left: 52px;
  padding-top: 46px;
  padding-bottom: 48px;

  background-color: #f9ebff;
  background-image: url("/assets/imgs/enrolling_phone.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;

  border-radius: 30px;
}

.text {
  width: 71%;

  font-size: 32px;
  font-weight: 400;
  line-height: 40px;

  margin-bottom: 44px;
}
