.modal {
	max-height: 100%;
	max-width: 444px;
	padding: 42px;

	background-color: beige;

	background: #fff;
	box-shadow: -10px 10px 15.998822212219238px 0px rgba(0, 0, 0, 0.1),
		10px -10px 16px 0px rgba(0, 0, 0, 0.1);
	border-radius: 12px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.heading {
	color: #000;
	font-size: 32px;
	font-weight: 400;
	line-height: 40px;
}

.inputs {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}

.label {
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.05px;
	cursor: pointer;
}

.input {
	width: 100%;
	height: 46px;
	border: none;
	outline: none;
	border-bottom: #d0cece 1px solid;
	margin-top: 6px;
	&::placeholder {
		font-size: 18px;
		font-weight: 400;
		line-height: 24px;
		letter-spacing: -0.05px;
		color: #d0cece;
	}
}
.btn {
	width: 278px;
	height: 52px;

	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: -0.05px;
	color: #ffffff;

	background-color: #580ea2;

	border: none;
	border-radius: 46px;

	cursor: pointer;
	transition: background-color 0.2s;

	&:hover {
		background-color: #3f007d;
	}

	&:active {
		background-color: #271a58;
	}
}
